table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

th { font-size: 13px;  }
td { font-size: 12px; }

td, th {
	border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

@media print {
	/* .wrapper, .header, .sidebar {display:none;} */
	@page {
       margin-top: 10;
       margin-bottom: 0;
     }

	table {
		font-family: arial, sans-serif;
    	border-collapse: collapse;
    	width: 100%;
	}

  	td, th {
  		border: 1px solid #dddddd;
    	text-align: left;
    	padding: 8px;
  	}

  	tr:nth-child(even) {
    	background-color: #dddddd;
	}
	
	/* print only specific div/page */
   body * {
      visibility: hidden;
    }

  	#printmoto, #printmoto * {
          visibility: visible;
    }

  	#printmoto {
    	position: absolute;
    	left: 0;
    	top: 0;
  	}
  	/* end print specific div/page */
  	 #print-reports-btn, #print-logo, #dropdown-icon{
      visibility: hidden;
    }

  	#cashier-placeholder {
  		text-align: right;
  	}

}